{% extends 'index.html' %}
{% block content %}
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <h2 data-aos="fade-up">Focus On What Matters</h2>
          <blockquote data-aos="fade-up" data-aos-delay="100">
            <p> More than just banking, all about companionship.</p>
          </blockquote>


        </div>
        <div class="col-md-6">
          <div align="center" class="form1" >
            <form action="{% url 'bank:login' %}" method="post">
                {% csrf_token %}
                <div class="display-2 " align="center">
                    <h2 class="h"><b>LOGIN</b></h2>
                </div>
                <div class="form-group" >
                  <i class="fa fa-user" style="font-size:25px"></i> <input class=" input1" type="text" name="username" >
                </div>
                <div class="form-group">
                  <i class="fa fa-lock" style="font-size:25px"></i> <input class="input" type="password"  name="password" >
                </div>
                <div class="form-check">
                  <a type="label" href="" style="color:wheat"><b>forgot password</b></a>
                  <a type="label" href="{% url 'bank:register' %}" style="color:wheat"><b>New user click here</b> </a>
                </div><br><br>

                <button type="submit" class="btn-get-started">Login</button>

<!--            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>-->


            </form>
        </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

{% endblock %}